* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*body*/
body {
	font-family: 'Montserrat', sans-serif;
}
.bg-gray{
	background-color: #e4e5e7;
}

.footer{
	background-color: #222328;
	height: 18.75em;
}

.container {
	max-width:1400px;
}
.main{
  margin: 1.875rem auto;
  padding: 0 2.494%;
}

/* header */
.navbar-logo{
  border-bottom:1px solid #f0f2f7;
  height: 5.625em;
  padding: 0 2.494%;
}
 
.nav-li-main {
	margin-right:1.875em;
	color:#343e5c;
}
.main-nav:last-child{
	margin-right:0;
}

.nav-link-main{
	font-size:14px;
	font-weight: 700;
	color:#343e5c !important;
	text-decoration:none;
	letter-spacing: 0;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.shopping-icon{
	color:#343e5c;
}
.cart-icon {
	color:#343e5c;
	font-size:11px;
	font-weight: 700;
}

.badge {
	border-radius:50%;
	background-color:#e3e8f0;
	padding:0.375rem 0.46875rem;
	font-size:11px;
}

.btn-sign-in{
	font-size: 0.6875rem;
	font-weight: 700;
	color:#343e5c;
	border:2px solid #f0f2f7;	
	border-radius:20px;
	letter-spacing: 1px;
	width:80px;
	background-color: transparent;
}

/*navbar-categories*/
.navbar-categories{
  padding: 0 2.494%;
  min-height: 55px; 
}

.categories-toggler{
  margin:7.5px 0 7.5px 0;
}

.row-brand{
  margin-top: 1px;
  }
 
.brand { 
  text-transform: uppercase;
  font-size:11px;
  font-weight: 600;
  letter-spacing: 0.5px;
  }

 .link-brand{
  color:#b9bed1 !important;
  padding-left: 0;
  }

.nav-brand{
    margin-right:30px;
  }

  .navbar-light .navbar-nav .active>.nav-link {
    color:#343e5c !important;
    font-weight: 700 !important;
  }

  .nav-link {
    padding:9.5px 0;
  }
  
  .support{
    padding-right: 22px;
  }
  .form-search{
    border-right: 1px solid #f0f2f7;
    border-left: 1px solid #f0f2f7;
    padding:11px 0;
    display:inline-block;
  }
  .search {
    border:0;
    font-size:14px;
    font-weight: 600;
    color:#a1a8bd;
    padding-left:2px;
    width:157px !important;
    height:100%;
  }
  .form-btn{
    background-color: transparent;
    cursor: pointer;
    border:none;
    color:#343e5c;
  }
	/*carousel*/

.slide{
  background-color:#1c1e23;
  color:white;
  height: calc(26.6vw + 10rem);
}
.col-slide{
  display:inline-block;
  position: relative;
}
 
.card-group{
  padding:0 15px;
}

.owl-carousel .owl-item img{
  position:absolute;
  height: 174%;
  width:auto;
  right:18%;
  top:-14%;
}
.text{
  margin-left: 11vw;
  display: inline-block;
  position: absolute;
  margin-top:8vw;
  z-index: 20;
  font-family: 'Montserrat', sans-serif;
  padding-right: 5.1875rem;
  padding-bottom: 1rem;
  padding-top: 0.625rem;
}
.text h3{
  margin-bottom: 10px;
  font-size:calc(2.4vw + 0.5em);
  font-weight: 900;
  line-height: 1;
}

.p-slide{
  font-family: 'Crimson Text', serif;
  font-size:calc(1vw + 0.5em);
}

.btn-slide{
  width:calc(7vw + 4.8rem);
  height:calc(2vw + 1.08rem);
  background-color: #2754eb;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(0.5vw + 0.5em);
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 30px;
  border:none;
  margin-top: 5.4vw;
  text-transform: uppercase;
}
.btn-slide:focus{
  outline: none;
  box-shadow: inset 0 0 0 2px white;
}

/* main section */

/*top filter*/

.top-filter{
  margin:0;
}
.filter-flex{
  margin:0 15px 15px 15px;
}
/*sort-by*/
.sort-by{
  padding:9.5px 10px 9.5px 20px;
  border-right:2px solid #f2f2f2;
  position: relative;
}
.label-filter{
  font-size: 11px;
  font-weight: 700;
  text-transform:uppercase;
  margin:0;
  color:#a1a7bd;

}
.sort{
  margin-right: 2.125rem;
}

.select-filter{
  margin-left:5px;
  width:120px;
  padding:10px 30px 10px 0;
  border:none;
  direction: rtl;
  color:#666e84;
  font-size:11px;
  font-weight:700;
  text-transform:uppercase;
}
.option-filter{
  text-transform:uppercase;
  width:154px;
}
/*keywords*/
.keywords{
  padding:12px 0 12px 15px;
}

.input-keywords{
  display: inline-block;
  width:162px;
  font-size: 13px;
  padding:5px 16px;
  border-radius: 30px;
  border-style: none;
  border:1px solid #e8ecf3;
  background-color:#f0f2f7;
  font-weight: 600;
  color:#b9bfd3;
   outline: none;
}
/*price*/
.grid-price{
display: inline-block;
}
.price{
  padding:12px 0;
}
.input-price{
  width:64px;
  border-radius: 30px;
  border-style: none;
  border:1px solid #e8ecf3;
  background-color:#f0f2f7;
  font-weight: 700;
  font-size: 13px;
 padding:5px 2px 5px 14px;
 color:#343e5c;
  outline: none;
}
/*free-shipping*/
.shipping{
 padding:18px 5px 18px 20px;
 color:#343e5c;
 font-size:13px;
 font-weight: 700;
}
.label-shipping{
 position:relative;
}
.input-shipping{
  opacity: 0;
}
.free-ship{
  position:absolute;
  top: 0;
  left: -10px;
  height: 20px;
  width: 20px;
  background: #00e2aa;
  border-radius: 50%;
  text-align: center;
}
.free-ship:before{
  position:absolute;
  top: 7px;
  left: 5px;
  content:" ";
   display:block;
    width:10px;
    height:7px;
  background-image: url(../icons/Check-Icon5.png);
  opacity: 0;
}

.label-shipping:hover input ~ .free-ship, .sort-by:hover select, .ship:hover select{
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
  cursor: pointer;
}
.label-shipping:hover{
   cursor: pointer;
}
.keywords:hover input, 
.price:hover input{
  border-color:rgba(0,0,0,.2);
}

.label-shipping input:checked ~ .free-ship:before {
  opacity: 1;
}
/*ship*/
.ship{
  display: inline-block;
  padding:9.5px 14px 9.5px 24px;
  border-left:2px solid #f2f2f2;
}
.ship-wrap{
  display: inline-block;
   position:relative;
}

.select-arrow {
  position: absolute;
  top: 14px;
  right: 10px;
  width: 10px;
  height: 8px;
  background: url(../icons/Open-Icon.png) no-repeat;
  pointer-events: none; /*активизируем показ списка при нажатии на стрелку*/
}
 
  select {
     -webkit-appearance: none; /*убираем галочку в webkit-браузерах*/
  -moz-appearance: none; /*убираем галочку в Mozilla Firefox*/
  }
  select::-ms-expand {
  display: none; /*убираем галочку в IE*/
}
  
/*left menu */
.categories:not(:last-child){
  margin-bottom: 30px;
}
.products{
  margin: 15px 0;
}
ul{
  list-style: none; 
}
.category {
  padding: 0;
  margin-bottom:0;
  border: none;
  color:#343e5c;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
   transition: .2s ease-in-out .1s;
  }
.category-link {
 display:block;
  height: 42px;
  line-height: 42px;
  padding-left:20px;
  cursor:pointer;
  text-decoration:none;
}
 .category:not(:last-child)>.category-link{
   border-bottom: 1px solid #f0f2f7;
 }
 .li::after{
    content:" ";
    position:absolute;
    display:block;
    width:8px;
    height:11px;
    top:15.5px;
    right:18px;
    background:url(../icons/Open-Icon1.png) no-repeat;
}
.category:hover {
  background: #F0F8FF;
}
.category[aria-expanded="true"]>.category-link{
  border-bottom:1px solid #dfe4ee;
}
.category[aria-expanded="true"] .li::after{
  content:" ";
  position:absolute;
  display:block;
  width:11px;
  height:8px;
  top:18.5px;
  right:18px;
  background:url(../icons/Open-Icon.png) no-repeat;
}
.dropdown{
  text-transform: uppercase;
  background:#f0f2f7;
   transition: .2s ease-in-out .1s;
}
.dropdown a{
  color:#a1a7bd;
  font-size: 11px;
  border-bottom:1px solid #dfe4ee;
  font-weight: 600;
}
.dropdown:hover{
  background: #F8F8FF;
}
.dropdown:hover a{
    text-decoration: none;
}
/*left filter sort-by*/
.filter-left{
  margin-bottom:30px;
}
.sort-left{
  border:none;
  padding: 0;
  margin:0;
}
.sort-left .grid-price{
  margin-left: 1.125rem;
}
.shipping-wrap{
  display: inline-block;
  padding-left: 10px;
}
/*available*/
.li-balance {
  padding: 0;
  margin-bottom:0;
  color:#343e5c;
  box-sizing: border-box;
  font-size: 13px;
  border:none;
  font-weight: 700;
  }
  .form-balance{
    padding:9px 20px 10px 55px;
  }
  .brands{
    border-top:1px solid #f0f2f7;
  }
  .balance-label{
    display: block;
    padding:9px 0;
    margin:0;
    cursor: pointer;
    position:relative;
    transition: none;
  }
  .balance-label:hover .button{
     box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
  }
  .balance-label input, .form-check-label input{
    opacity: 0;
  }                       
  .button{
display: block;
position:absolute;
top: 9px;
left: -35px;
height: 20px;
width: 20px;
border-radius: 50%;
border:2px solid #e4e8f0;
  }
 .dot{
  display:block;
  width:0;
  height:0;
  border:4px solid #00deea;
  border-radius: 50%;
  margin:4px auto;
  opacity: 0;
 }
 .balance-label input:checked ~ .button .dot{
  opacity: 1;
}
.checkbox{
  border-radius: 5px;
}
.checkbox:before{
  position:absolute;
  top: 7px;
  left: 5px;
  content:" ";
  display:block;
  width:10px;
  height:7px;
  background-image: url(../icons/Check-Icon5.png);
}
 .balance-label input:checked ~ .checkbox{
  border:none;
  background-color:#00e2aa;
}
.form-name{
  height:48px;
  line-height: 48px;
  border-bottom:1px solid #f0f2f7;
  display: block;
  padding:0 20px;
  text-transform:uppercase;
  color:#343e5c;
  font-size:11px;
  font-weight: 700;
  letter-spacing: 1px;
}
.form-name a{
  float:right;
  text-decoration: underline;
  color:#2754eb;
}
.form-name a:hover{
  color:#343e5c;
}
.balance{
  float: right;
  font-size:11px;
  color:#b8bfd3;
  font-weight: 600;
}
/*delivery*/
.form-delivery{
  padding:5.5px 35px 5.5px 55px;
  margin:0;
  width:50%;
  float:left;
}
.b-left{
  border-left:1px solid #f0f2f7;
}
.form-delivery .balance-label{
  text-transform:uppercase;
  letter-spacing:1px;
  font-size: 12px;
}
.form-delivery .balance-label>.button{
  top:7px;
}

/*products*/

.row-products {
	margin:0;
}
.col-left{
	padding-left:0;
	padding-right:30px;
}
.col-right{
padding:0;
}
.product {
  background-color: white;
  margin: 15px 0;
}

.card{
  border:none;
  text-align: center;
  min-height:380px;
  overflow: hidden;
}

.card-image{
  line-height:254px;
  margin-bottom:2px;
}

.img-product{
  vertical-align: middle;
  border:none;
  width:75%;
  border-radius:0;
}

.product-body{
  height:124px;
  padding-top:7px;
  line-height: 1;
  font-weight: 600;
}
.ful-card-img{
  background-color: white;
  height:380px;
  overflow: hidden;
}

.full-card-img .card-image {
  overflow: hidden;
text-align: left;
margin-bottom: 0;
height:306px;
line-height: 0;
}
.full-card-img .card-image img{
  width:100%;
  height:auto;
}

.full-card-img .card-body{
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: justify;
}

.full-card-img .card-price{
  position: absolute;
  top:0;
  left:0;
  display: inline-block;
  color:white;
  padding:2.5px 7px 2.5px 10.5px;
  margin:11px;
  background:#1c1e23;
  border-radius: 4px;
  font-size:12px;
  letter-spacing:1px;
  line-height: 1;
}
.full-card-img .card-body .title>.product-title{
  margin-bottom: 6px;
  display: inline-block;
}
.title{
  float: left;
  margin-right: auto;
}

/*button*/

.button-buy{
  display: flex;
  float:right;
  padding:6.5px 0; 
}
.btn-buy{
  width:14.1875rem;
}

.btn-buy label{
  margin:0;
  padding:6.5px 0;
  font-size: 0.6875em;
  text-transform: uppercase;
  color:#3a405b;
  font-weight:700;
  letter-spacing: 1px;
}
.btn-buy label:hover, .btn-buy label:focus, .btn-buy label:active{
  background-color:#F8F8FF; 
}

.btn-gb{
  border:2px solid #f0f2f7;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  text-align: center;
  width: 50%
}
.btn-by{
   border:2px solid #f0f2f7;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   width: 50%;
  text-align: center;
}
.fitbit{
  padding-bottom: 25px;
}
.product-title{
  font-size: 1em;
  color:#1c1e23;
 margin-bottom: 14px;
  line-height: 20px;
   font-weight: 600;
}
.product-color{
  text-transform: uppercase;
  color:#b8bfd3;
  font-size:0.75em;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.product-price{
  font-size: 0.875em;
  color:#343e5c;
  font-weight: 700;
}

.nest{
  overflow: hidden;
}
.nest .card-image{
  margin-bottom: 0;

}
.nest img{
 width:100%;

  /*min-height:380px;*/
}
.nest .product-body{
  width:100%;
  position: absolute;
  top:29px;
  left:50%;
  transform: translateX(-50%);
}

.page-item {
  display: inline-block;
}
.page {
  width:97.514%;

   margin: 0 15px;
  background-color: white;
  display:block;
}

.ul-page{
  margin-bottom: 0;
  display: block;
  text-align: center;
}
.page-item{
  margin-left: 1vw;
    padding:1.75% 0;
}
.page-numbers{
    display: inline-block;
    height:calc(3vw + 0.85em);
     width:calc(3vw + 0.85em);
    line-height:calc(3vw + 0.85em);
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    color:#3a405b;
    font-weight: 600;
    }
.page-item:first-child .page-link, .page-item:last-child .page-link {
  border:none;
  border-radius: 50%;
}
.page-item:first-child {
  border-right:1px solid #f0f2f7 !important;
  float:left;
  padding-right:5.65vw;
   padding-left: 5.65vw;
}

.page-item:last-child {
  float:right;
  border-left:1px solid #f0f2f7 !important;
  padding-right: 5.65vw;
   padding-left: 5.65vw;
}

.pagination-sm .page-item:first-child .page-link,.pagination-sm .page-item:last-child .page-link,
.li-page:first-child .page-link, .li-page:last-child .page-link{
  border-radius: 50%;
}

.page-item.active .page-numbers, .page-numbers:hover{
  font-size: 13px;
  color:#b9bed1;
  box-shadow: 0 20px 66px rgba(168,172,185, 0.7); 
}

/*best sellers*/
.row-sellers{
  margin:0 15px;
}
.container-seller{
 margin: 3.125rem auto;
  padding: 0 2.494%;
}
.sellers{
  margin-top: 0;
}
.best-sellers{
  margin-bottom: 0;
}
.best-sellers p{
   padding: 19px;
   border-bottom:1px solid #f0f2f7;
  font-size: 11px;
  font-weight: 700;
  color:#343e5c;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card-best-sellers:not(:last-child) {
	border-right: 1px solid #f0f2f7;
}

.card-best-sellers .card-image{
   display: inline-block;
  padding-bottom: 1.875rem;
}
.card-best-sellers .img-product{
  display: inline-block;
  width:11.44rem;
  vertical-align:bottom;
  height: auto;
  padding:0;
}
.card-best-sellers .product-body{
  padding-bottom: 36px;
}
.sellers-body .product-title{
  margin-bottom: 10px;
  color:#343e5c;
}
.sellers-body .product-color{
margin-bottom: 20px;
font-size: 11px;
}
.sellers-body .product-price{
  display:inline-block;
}
.sellers-body .old-price{
  margin-right: 20px;
  color:#a1a8bd;
  text-decoration: line-through;
  margin-bottom: 0;
}

/*customer seys*/
.img-icon{
  float:left;
  width:40px;
  margin-right: 17px;
}
.customer-name{
  font-size: 14px;
  font-weight: 700;
  color:#3a405b;
  margin-bottom: 5px;
}
.customer-career{
  color:#b9bed1;
  font-size: 16px;
   font-family:  'Crimson Text', serif;
   font-style: italic;
   margin:0;
}

.customer-says{
  font-size: 18px;
  line-height: 24px;
  color:#3a405b;
  font-family:  'Crimson Text', serif;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 88px;
}
.container-customer{
  padding:0 4.5%;
}

.col-caption h1{
  padding-top:63px; 
   font-weight: 900;
   margin-bottom: 0;
   font-size: 32px;
   color:#222328;
}

.caption{
	font-family: 'Crimson Text', serif;
	font-style: italic;
	color:#cfd2df;
  margin-top: 15px;
  margin-bottom: 46px;
}

@media(max-width: 690px){

  .page-item:first-child, .page-item:last-child{
  padding-right:2vw;
   padding-left:2vw;
}

.owl-carousel .owl-item img{
  right:8%;
  } 
}