* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  transition: .2s ease-in-out .1s;
}
/*body*/
body {
	font-family: 'Montserrat', sans-serif;
}
.bg-gray{
	background-color: #e4e5e7;
}

.footer{
	background-color: #222328;
	height: 18.75em;
}

.container {
	max-width:1400px;
}
.main{
  margin: 1.875rem auto;
  padding: 0 2.494%;
}

/* header */
.navbar-logo{
  border-bottom:1px solid #f0f2f7;
  height: 5.625em;
  padding: 0 2.494%;
}
 
.nav-li-main {
	margin-right:1.875em;
	color:#343e5c;
}
.main-nav:last-child{
	margin-right:0;
}

.nav-link-main{
	font-size:14px;
	font-weight: 700;
	color:#343e5c !important;
	text-decoration:none;
	letter-spacing: 0;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.shopping-icon{
	color:#343e5c;
}
.cart-icon {
	color:#343e5c;
	font-size:11px;
	font-weight: 700;
}

.badge {
	border-radius:50%;
	background-color:#e3e8f0;
	padding:0.375rem 0.46875rem;
	font-size:11px;
}

.btn-sign-in{
	font-size: 0.6875rem;
	font-weight: 700;
	color:#343e5c;
	border:2px solid #f0f2f7;	
	border-radius:20px;
	letter-spacing: 1px;
	width:80px;
	background-color: transparent;
	/*margin-right: 2.5625rem;*/
}

/*navbar-categories*/
.navbar-categories{
  padding: 0 2.494%;
  min-height: 55px; 
}

.categories-toggler{
  margin:7.5px 0 7.5px 0;
}

.row-brand{
  margin-top: 1px;
  }
 
.brand { 
  text-transform: uppercase;
  font-size:11px;
  font-weight: 600;
  letter-spacing: 0.5px;
  }

 .link-brand{
  color:#b9bed1 !important;
  padding-left: 0;
  }

.nav-brand{
    margin-right:30px;
  }

  .navbar-light .navbar-nav .active>.nav-link {
    color:#343e5c !important;
    font-weight: 700 !important;
  }

  .nav-link {
    padding:9.5px 0;
  }
  
  .support{
    padding-right: 22px;
  }
  .form-search{
    border-right: 1px solid #f0f2f7;
    border-left: 1px solid #f0f2f7;
    padding:11px 0;
    display:inline-block;
  }
  .search {
    border:0;
    font-size:14px;
    font-weight: 600;
    color:#a1a8bd;
    padding-left:2px;
    width:157px !important;
    height:100%;
  }
  .form-btn{
    background-color: transparent;
    cursor: pointer;
    border:none;
    color:#343e5c;
  }
	/*********************************/

.carousel {
	height:500px;
}

/* main section */

/*top filter*/

.top-filter{
  margin:0;
}
.filter-flex{
  margin:0 15px;
}
/*sort-by*/
.sort-by{
  padding:9.5px 10px 9.5px 20px;
  border-right:2px solid #f2f2f2;
  position: relative;
}
.label-filter{
  font-size: 11px;
  font-weight: 700;
  text-transform:uppercase;
  margin:0;
  color:#a1a7bd;

}
.sort{
  margin-right: 2.125rem;
}

.select-filter{
  margin-left:5px;
  width:120px;
  padding:10px 30px 10px 0;
  border:none;
  direction: rtl;
  color:#666e84;
  font-size:11px;
  font-weight:700;
  text-transform:uppercase;
}
.option-filter{
  text-transform:uppercase;
  width:154px;
}

/*keywords*/
.keywords{
  padding:12px 0 12px 15px;
}

.input-keywords{
  display: inline-block;
  width:162px;
  font-size: 13px;
  padding:5px 16px;
  border-radius: 30px;
  border-style: none;
  border:1px solid #e8ecf3;
  background-color:#f0f2f7;
  font-weight: 600;
  color:#b9bfd3;
   outline: none;
}
/*price*/
.grid-price{
display: inline-block;
}
.price{
  padding:12px 0;
}

.input-price{
  width:64px;
  border-radius: 30px;
  border-style: none;
  border:1px solid #e8ecf3;
  background-color:#f0f2f7;
  font-weight: 700;
  font-size: 13px;
 padding:5px 2px 5px 14px;
 color:#343e5c;
  outline: none;
}
/*free-shipping*/
.shipping{
  /*display: inline-block;*/
 padding:18px 5px 18px 20px;
 color:#343e5c;
 font-size:13px;
 font-weight: 700;
}

.label-shipping{
 position:relative;
}
.input-shipping{
  opacity: 0;
}
.free-ship{
  position:absolute;
  top: 0;
  left: -10px;
  height: 20px;
  width: 20px;
  background: #00e2aa;
  border-radius: 50%;
  text-align: center;
}
.free-ship:before{
  position:absolute;
  top: 7px;
  left: 5px;
  content:" ";
   display:block;
    width:10px;
    height:7px;
  background-image: url(../icons/Check-Icon5.png);
  opacity: 0;
}
.label-shipping:hover input ~ .free-ship, .sort-by:hover select, .ship:hover select{
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}

.keywords:hover input, 
.price:hover input{
  border-color:rgba(0,0,0,.2);
}

.label-shipping input:checked ~ .free-ship:before {
  opacity: 1;
}
/*ship*/
.ship{
  display: inline-block;
  padding:9.5px 14px 9.5px 24px;
  border-left:2px solid #f2f2f2;
}
.ship-wrap{
  display: inline-block;
   position:relative;
}

.select-arrow {
  position: absolute;
  top: 14px;
  right: 10px;
  width: 10px;
  height: 8px;
  background: url(../icons/Open-Icon.png) no-repeat;
  pointer-events: none; /*активизируем показ списка при нажатии на стрелку*/
}
 
  select {
     -webkit-appearance: none; /*убираем галочку в webkit-браузерах*/
  -moz-appearance: none; /*убираем галочку в Mozilla Firefox*/
  }
  select::-ms-expand {
  display: none; /*убираем галочку в IE*/
}
  



/*left menu */
.categories{
  margin-bottom: 30px;
}

.products{
  margin: 15px 0;
}

ul{
  list-style: none; 
}

.category {
  /*max-width:270px;*/
  padding: 0;
  margin-bottom:0;
  border: none;
  color:#343e5c;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
  }

.category-link {
 display:block;
  height: 42px;
  line-height: 42px;
  padding-left:20px;
  cursor:pointer;
  text-decoration:none;
}

 .category:not(:last-child)>.category-link{
   border-bottom: 1px solid #f0f2f7;
 }

 .li::after{
    content:" ";
    position:absolute;
    display:block;
    width:8px;
    height:11px;
    top:15.5px;
    right:18px;
    background:url(../icons/Open-Icon1.png) no-repeat;
}

.category:hover {
  background: #F0F8FF;
}

.category[aria-expanded="true"]>.category-link{
  border-bottom:1px solid #dfe4ee;
}

.category[aria-expanded="true"] .li::after{
  content:" ";
  position:absolute;
  display:block;
  width:11px;
  height:8px;
  top:18.5px;
  right:18px;
  background:url(../icons/Open-Icon.png) no-repeat;
}

.dropdown{
  text-transform: uppercase;
  background:#f0f2f7;
}
.dropdown a{
  color:#a1a7bd;
  font-size: 11px;
  border-bottom:1px solid #dfe4ee;
  font-weight: 600;
}
.dropdown:hover{
  background: #F8F8FF;
}
.dropdown:hover a{
    text-decoration: none;
}
/*left filter sort-by*/
.filter-left{
  margin-bottom:30px;
}
.sort-left{
  border:none;
  padding: 0;
  margin:0;
}
.sort-left .grid-price{
  margin-left: 1.125rem;
}
.shipping-wrap{
  display: inline-block;
  padding-left: 10px;
}

/*products*/

.row-products {
	margin:0;
}
.col-left{
	padding-left:0;
	padding-right:30px;
}
.col-right{
padding:0;
}
.product {
	height: 23.750em;
	background-color: gray;
	margin: 15px 0;
}

.card{
	border:none;
}
.col-pagination, .sellers{
	margin-bottom: 50px;
}
/*.best-sellers{
	border-bottom:1px solid #f0f2f7;
}*/
.sellers{
	overflow: hidden;
}
.card-best-sellers{
	border-right: 1px solid #f0f2f7;
}

.col-caption{
	padding:4.5625rem;
}
.caption{
	font-family: 'Crimson Text', serif;
	font-style: italic;
	font-weight: 18px;
	color:#cfd2df;
}
